.landing-page {
  font-family: 'DM Sans';
  font-style: normal;
  color: #252424;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
  display: flex;
  gap: 50px;

  /* border: 2px solid red; */
  
}

.header {
  padding: 30px;
  /* border: 2px solid green; */
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-weight: 700;
  font-size: 70px;
  margin: 0;
}

.header-subtitle {
  margin: 0;
  color: #3d3c3c;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;

}

.launch-message {
  margin-top: 50px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.custom-search {
  width: 300px;
  background: #D6B4E9;
  border-radius: 20px;
  display: flex;
}


.custom-search-input {
  color: white;
  flex-grow: 1;
  border: 0;
  outline: none;
  background: none;
  margin-left: 15px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
}

.custom-search-input::placeholder { 
  color: white;
}

.custom-search-button {
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  border: 0;
  background: #B88BD0;
  outline: none;
  margin: 0;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 600;
}

.custom-search-button:hover {
  background: black;
}

.mockup {
  padding-top: 20px;
  width: 320px;
}